

/* reset styles first */
*{
    padding: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* body style */
body{
    background-image: linear-gradient(rgba(189, 201, 224, 0.8),rgba(189, 201, 224, 0.8)), url(background.jpg);
    font-family: "Anek Malayalam", sans-serif;
    background-size: cover;
    color: #fff;
    margin:-5px;

}
#home{
    padding-top: 20px;
    height: 100px;
    margin-top: -30px;

}


/* container style */
.container{
    padding: 20px 10%;
    margin-top: 50px;

}

/* styling for the title */
.title{
   font-size: 60px;
   font-weight: 600; 
   color: #fff;

}

/* styling for the fish section */
#services{
    padding: 20px 0;
    margin-bottom: -0px;
}

/* styling for the fish list */
.fish-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

/* Styling for for fish1 */
.fish-list .fish1{
    background-image: url(Files_content_lasen/Devils-Hole-Pupfish.webp);
    background-size: cover;
    backdrop-filter: blur(1000px); 
    backdrop-filter: blur(100px);
    padding: 60px;
    font-size: 13px;
    font-weight:300 ;
    border-radius: 10px;
    transition: background 1s , tranform 1s;
}

/* Styling for for fish2 */
.fish-list .fish2{
    background-image: url(Files_content_lasen/juvenile-chinese-paddlefish.jpg);
    background-size: cover;
    padding: 60px;
    font-size: 13px;
    font-weight:300 ;
    border-radius: 10px;
    transition: background 1s , tranform 1s;
}

/* Styling for for fish3*/
.fish-list .fish3{
    background-image: url(Files_content_lasen/pallid-sturgeon-Ryan-Hagerty-usfws.jpg);
    background-size: cover;
    padding: 40px;
    font-size: 13px;
    font-weight:300 ;
    border-radius: 10px;
    transition: background 1s , tranform 1s;
}

/* Styling for for fish4*/
.fish-list .fish4{
    background-image: url(Files_content_lasen/Eel-4mb.jpg);
    background-size: cover;
    padding: 40px;
    font-size: 13px;
    font-weight:300 ;
    border-radius: 10px;
    transition: background 1s , tranform 1s;

}

/* Styling for the icon within each fish item */
.fish-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: black;
}

/* Styling for the heading within each fish item */
.fish-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-top: -35px;
    color: black;
}

/* Styling for the paragraph within each fish item */
.fish-list div p{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
    color: black;
    text-align: justify;
    
}

/* Styling for the link within each fish item */
.fish-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 30px;
    padding: 15px;
    display: inline-flex;
    cursor: pointer;
    background-color: rgba(1, 43, 116, 0.341);
    border-radius: 20px;
}
/* Hover effect for fish items */
.fish div:hover{
  background: #395e85;
  transform: scale(1.20);
  transition: 0.5s;
}
.fish-list div a:hover{
    background-color: rgb(234, 232, 255);
    transform: scale(1.20);
    transition: 0.5s;
}
  
  

