body, html {
    background-image: url(Images/Background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
}

.large-logo {
    width: 200px; /* Adjust this value to increase or decrease the logo size */
    height: auto;
}

p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.mission {
    font-size: 1.5em;
    font-weight: bold;
}

.team-members {
    margin-bottom: 30px;
}

.loader {
    margin-top: 20px;
}

.loader span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: loader 1s infinite ease-in-out both;
}

.loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes loader {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1.0); }
}