body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    background: url("Files_home/Background-Home.jpg");
    background-position: center, bottom;
    background-attachment: fixed, scroll;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    text-align: center;
    color: white;
    padding: 20px;
    z-index: 10;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.logo {
    padding-top: 15px;
    padding-left: 30px;
    width: 16%;
    height: auto;
    margin-right: auto;
}

.background2 {
    font-size: larger;
    text-align: center;
    color: #f0f0f096;
}

/* New styles for the mission section */
.mission-section {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-top: 100vh; /* Ensure the section is below the full viewport height */
}

.mission-content {
    max-width: 800px;
    margin: 0 auto;
}

.mission-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.mission-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}
