body, html {
    background-image: url(Assests/Background1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    padding-top: 20px;
}

.logo {
    margin-bottom: 5px;
    position: relative; top: 50%;
}

.large-logo {
    width: 500px;
    height: auto;
}

p {
    color: white;
    font-size: 1.2em;
}

.mission {
    font-size: 1.2em;
    position: relative; top: 50%;
}

.team-members {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 20px;

}

.Names a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    padding-left: 10px;
}

.loader {
    position: relative; top: 75%;
}

.loader span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: loader 1s infinite ease-in-out both;
}

.loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes loader {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1.0); }
}