body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    margin: 0;
}

body::before {
    content: "";
    background-image: url("Files_home/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}